<div class = 'topnav'>
    <nav>
        <ul type = 'none'>
            <li><a href = "/create">New Student</a></li>
            <li><a href = "/about">About Us</a></li>
            <li><a href = "/">Home Page</a></li>           
        </ul>
    </nav>
</div>