<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="first_info">
        <h1>Error 404</h1>
        <p> The requested page is missing!.</p>
    </div>

    <br><br>

<%- include('./partials/foot.ejs') %>

</body>
</html>