<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about">
        <h1>About Us</h1>
        <hr color="black">
        <p> The Government College of Technology, Coimbatore formerly known as Arthur Hope College of Technology, was started in July 1945. 
            The Institute is one of the premier Engineering Institutions of the Country having a very large contribution to the academic and 
            technological developments.
        </p> 
            
        <p>
            Ever since that prestigious moment, it has set the standard of recognition standing out as an outstanding Institution with technical 
            expertise.  This Institution offers nine UG programs and eleven PG programs with recognized research supervisors to pursue 
            M.S. (by Research) and Ph.D. Programs in all the brances of study. 
        </p>
        <p>
            All departments have well qualified staff members and excellent infrastructural facilities. This Institute is supported by World bank 
            funding under TEQIP in the Phase II to the tune of Rs. 12.5 crores along with two centres of excellence, each granted with Rs. 5 crores. 
            The college has received BEST COLLEGE AWARD in the year 2010 from the State Government of TamilNadu and “GREEN CAMPUS OF THE YEAR - 2013”  
            award from Dr.Rangasamy, Chief Minister of Pondicherry on April 4th for the measures taken on environmental activities.  
        </p>
        <p>
            In addition the Institute received a certificate from India Book of Records for the National symposium on Zero paper event.
            <br><br>
            <q>Ideas are the source of innovation and innovation is the vital spark of all human change, improvement and progress.</q>
            <br><br> 
            With this motto the institution has established Student Research Foundation(SRF) to initiate research and new product developments 
            within the campus. Through SRF, innovative ideas from students are given funds and technical guidance required to develop them into 
            full fledged products and solutions.
        </p>
        <p>
            GCT has become one of the participating institutions in Quality Enhancement in Engineering Education (QEEE) programme of Department of 
            Higher Education, MHRD, Government of India. Under this programme, the facilities have been arranged in the Computer Science Department 
            for participating in the Live Classes and virtual labs/tutorials offered by IIT Professors.
            <br><br>
            GCT has strong tie-ups with different industries, R&D labs and Public Sector companies. The industrial experts interact on a continual 
            basis to revise and revamp the curriculum and keep it modern and relevant to the industry expectations.
        </p>
        <p>
            GCT alumni association has been assisting students who suffer a financial crunch. Some of the GCT Alumni attained globally highest 
            honour.  To cite an event, twenty-four people who designed and advanced the Internet as the global, world-changing platform that it is 
            today will be inducted into the Internet Hall of Fame.  One among the 24 inductees  is a GCT Alumni Dr. S. Ramani of 1962 batch, 
            Electrical branch
        </p>
    </div>
    <br><br>

<%- include('./partials/foot.ejs') %>

</body>
</html>