<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>
    <div class="title">
        <h1>Student Details</h1>
        <hr width="20%" color="black">
    </div>
    <form action="/" method="post">
        <div class="inp">
            <input type='text' id='rno' name='rno' required placeholder='Enter Roll No.'>
            <br>
            <input type='text' id='name' name='name' required placeholder='Enter Name'>
        </div>
        <br>
        <div class="button">
        <button type="text">Submit</button>
        </div>
    </form>
<%- include('./partials/foot.ejs') %>

</body>
</html>